<!--make a form in view that submits all the way to the mongoose DB-->
<form action="submit" method="POST" >
	<input type="text" placeholder="Animal Name" name="name">
	<input type="text" placeholder="ie. Mammal" name="type">
	<input type="text" placeholder="Native Continent" name="native">
	<input type="text" placeholder="Endangered?" name="endangered">
	<input type="submit" name="submit">
</form>