<h1>Animal Form</h1>


<form action="/animals" method="POST">
	<input type="text" name="name" value="" placeholder="Name"/><br>
	<input type="text" name="class" value="" placeholder="Class"/><br>
	<input type="text" name="habitat" value="" placeholder="Habitat"/><br>
	<input type="text" name="diet" value="" placeholder="Diet"/><br>
	<input type="submit" vaule="Submit">

</form>