<div class="form">
      
      <div class="tab-group">
        <h1 class="tab active">Animal</h1>
      </div>
      
      <div class="tab-content2">
        
        <div id="animal">

          {{!-- <form action="/about" method="POST"> --}}
          
            <div class="field-wrap">
              <label>
                <span class="oldLabel">Name</span>
              </label>
              {{!-- <input type="text" name="name" autocomplete="off" /> --}}
              <div>
                <p>{{animalInfo.name}}</p>
              </div>
            </div>
          
          
            <div class="field-wrap">
              <label>
                <span class="oldLabel">How Many Legs</span>
              </label>
              {{!-- <input type="text" name="legs" autocomplete="off" /> --}}
              <div>
                <p>legs</p>
              </div>
            </div>
          
            <div class="field-wrap">
              <label>
                <span class="oldLabel">Countries Found In</span>
              </label>
              {{!-- <input type="text" name="countries" autocomplete="off" /> --}}
              <div>
                <p>countries</p>
              </div>
            </div>
          
            <div class="field-wrap">
              <label>
                <span class="oldLabel">Is It Fast</span>
              </label>
              {{!-- <input type="text" name="fast" autocomplete="off" /> --}}
              <div>
                <p>fast</p>
              </div>
            </div>

            <button class="button button-block" name="button" value="createUser"/>Create User</button>
          
          {{!-- </form> --}}

        </div>

      </div><!-- tab-content -->
      
</div> <!-- /form -->