<h1>This is the animal database</h1>

<form action="/animals" method="POST">
	<input type="text" name="name" placeholder="Enter animal name"/>
	<input type="text" name="type" placeholder="Enter animal type"/>
	<input type="text" name="isCute" placeholder="Enter if animal is cute"/>
	<input type="text" name="ferocity" placeholder="Enter animal ferocity level"/>
	<input type="submit"/>
</form>
